body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('icon.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.container {
    /* border: 2px solid black; */
    /* width: 50%; */
    /* margin: 150px auto; */
    padding: 40px;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    /* background-color: rgba(135, 206, 250, 0.7); */
    /* color: white; */
    position: relative;
    /* top: 150px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    color: rgb(27, 240, 41);
    font-size: 4rem;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    text-align: start;
    color: rgb(39, 184, 228);
    font-size: 1.8rem;
}

form {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    padding: 10px 10px;
    color: rgb(228, 102, 102);
    font-weight: 700;
    font-size: 2rem;
}

input[type="text"],
input[type="number"] {
    width: 250px;
    padding: 5px;
}

.submitButton {
    height: 30px;
    width: 100px;
    padding: 5px 15px;
    border: none;
    background-color: rgb(224, 244, 8);
    color: rgb(34, 3, 3);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 1rem;
}

#downloadCSV {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(105, 0, 17);
    color: rgb(129, 33, 202);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    text-align: center;
    font-size: 1rem;
}

.left {
    height: 50%;
    /* border: 2px solid black; */
    padding: 15px 15px;
    /* margin: 20px auto; */
    /* background-color: rgba(178, 198, 210, 0.7); */
}

.right {
    height: 300px;
    /* border: 2px solid black; */
    padding: 15px 15px;
    /* margin: 20px auto; */
    /* background-color: rgba(540, 225, 112, 0.5); */
}